* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

.pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  color: white;
}

.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 15%;
  position: fixed;
  background: linear-gradient(to left, black, #001500);
  color: white;
}

@media (max-width: 767px) {
  .pages {
    padding-left: 0;
  }

  .bar {
    height: 3rem;
    width: 100vw;
  }
}

@media (min-width: 768px) {
  .bar-buttons-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.buttons {
  border: 2px solid white;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.2rem;
  cursor: pointer;
}

.buttons:hover {
  border: 2px solid grey;
}

.forms {
  display: flex;
  flex-direction: column;
}

.new-message-bar {
  position: fixed;
  bottom: 0;
  width: 85%;
  height: 22vh;
  background: linear-gradient(to right, black, #003300);
}

@media (max-width: 767px) {
  .new-message-bar {
    width: 100%;
  }
}

.user-message {
  background-color: aqua;
}

.bot-message {
  background-color: green;
}
