* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

.pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 25vw;
  min-height: 100vh;
  background-color: black;
  color: white;
}

.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-width: 200px;
  max-width: 25vw;
  position: fixed;
  padding: 1rem;
  background: linear-gradient(to left, black, #001500);
  color: white;
}

@media (max-width: 550px) {
  .pages {
    padding-left: 0;
  }

  .bar {
    position: relative;
    height: fit-content;
    width: 100vw;
    max-width: 100vw;
  }
}

@media (min-width: 551px) and (max-width: 800px) {
  .pages {
    padding-left: 35vw;
  }
}

@media (min-width: 551px) {
  .bar-buttons-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.buttons {
  border: 2px solid white;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.2rem;
  cursor: pointer;
}

.buttons:hover {
  border: 2px solid grey;
}

.forms {
  display: flex;
  flex-direction: column;
}

.new-message-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 75vw;
  padding-bottom: 1rem;
  background-color: black;
}

@media (max-width: 550px) {
  .new-message-bar {
    width: 100%;
  }
}

.user-message {
  border-radius: 10px;
  padding: 0.5rem;
  margin: 1rem;
  background: linear-gradient(to left, black, #003300);
}

.bot-message {
  border-radius: 10px;
  padding: 0.5rem;
  margin: 1rem;
  background: linear-gradient(to right, black, #003300);
}

@media (max-width: 900px) and (min-width: 551px) {
  .user-message {
    margin-right: auto;
    margin-left: 2rem;
  }

  .bot-message {
    margin-left: auto;
    margin-right: 2rem;
  }
}

@media (min-width: 901px) {
  .messages {
    width: 60vw;
  }

  .user-message {
    margin-right: auto;
    margin-left: 5rem;
  }

  .bot-message {
    margin-left: auto;
    margin-right: 5rem;
  }
}
